
<form>
<fieldset>
    {% csrf_token %}
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <div>
        <input type="hidden" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% if choice.venue_image %}
        <img src="{{ choice.venue_image.url }}"
        width="150">
        {% endif %}
        </div>
    {% endfor %}
</fieldset>
</form>

<form method="get" action="{% url 'polls:delete_question' question.id %}">
    <input type="submit" value="Delete">
</form>

<form method="get" action="{% url 'polls:update' question.id %}">
    <input type="submit" value="Update/Create">
</form>
