<!-- update_question.html -->
<html>
<body>
    <h2>Update table and tasks</h2>
    <form method=POST enctype="multipart/form-data">
    {% csrf_token %}
    <div style="display: flex; flex-direction: column;">
        {{ form.as_p }}
    {{ formset.management_form }}

    {% for choice_form in formset %}
        {% for hidden in choice_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div>
            {{ choice_form.choice_text.label }}
            {{ choice_form.choice_text }}
        </div>
    {% endfor %}
    </div>
    <button type="submit">Update</button>
    </form>
</body>
</html>